<template>
  <div class="not-found">
    <h1>404</h1>
    <p>Whoops! Looks like this page hasn't been built yet.</p>
    <p>Try <router-link to='/'>the main page</router-link> instead.</p>
  </div>
</template>

<script>
export default {
  name: 'jn-404',
  data () {
    return {
      msg: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
#headline {
  margin-top: 10vh;
}

.not-found {
  text-align: center;
}
</style>
