<template>
    <section class='container'>
      <h2 id='about'>About me</h2>
      <p class="typography--text">
        I am a <strong>User Experience Designer and Developer</strong> from Orange County, California, 
        currently living in <strong>New York</strong>. 
        I studied <strong>Compter Science and Engineering</strong> 
        at <strong><a href='https://cse.ucsd.edu/' target="_"> University of California, San Diego</a></strong>.
        I love music, travel and technology. 
      </p>
      <p class="typography--text">
        Take a look at <strong><a href="/static/resume.pdf" target="_">my resume</a></strong> and feel free to <strong><a href='mailto:navijoshua@gmail.com?Subject=Lets%20Get%20in%20Touch'>contact me</a></strong>.
      </p>
    </section>
</template>

<script>
export default {
  name: 'jn-about'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
</style>
