<template>
  <main>
    <div class="work" v-if="auth">
      <div class="container">
        <h1>Consumer Loan Application</h1>
        <p>A quick, compliant and accessaible loan application built for the modern credit union</p>

        <section>
          <h2 class="typography--heading">Background</h2>
          <p class="typography--text">
            Our "out-of-the-box" consumer loan application was outdated, riddled with usability and accesibility issues that
            caused difficulties for our clients' consumers when applying for loans. 
            Additionally the archaic visual style was described as untrustworthy by some users.
          </p>

          <p> Tools used: <strong>Axure, Affinity Designer, OmniGraffle, Sketch, HTML &amp; CSS</strong></p>
        </section>

        <section>
          <h2 class="typography--heading">Research</h2>
          <p class="typography--text">
            We conducted stakeholder interviews with a handful of clients to develop a better understanding of their goals 
            as well as their motivations for using this product.
            We learned that our users' top priorities were: providing their consumers with a frictionless experience from 
            beginning the application through submitting it and being able to style the site to match their corporate branding.
          </p>
          <img class="img-half block" src="static/img/consumerloans/consumer_empathy_map_preview.png" >
        </section>

        <section>
          <h2 class="typography--heading">Experiment</h2>
          <img class="img-half" src="static/img/consumerloans/consumer_flow_2.png" >
          <img class="img-half" src="static/img/consumerloans/consumer_flow_1.png" >
          <img class="img-half block" src="static/img/consumerloans/user_testing.png" >
          <p class="typography--text">
            We tested different flows using wireframes and low-fidelity prototypes. 
            We learned that users had higher success rates with a linear flow where they were able to skip steps
            that were not relevant in contrast with a workflow where they could chose whether ot not to complete certain steps.
          </p>
          <img class="block" src="static/img/consumerloans/consumer_flow_3.png" >
        </section>

        <section>
          <h2 class="typography--heading">Strategy</h2>
          <p class="typography--text">
            We focused on accessibility and understandability by following 
            <a href="https://www.w3.org/TR/WCAG20/" target="_">W3C Web Content Accessibility Guidelines</a>
            and using natural language, avoiding jargon and providing help text when necessary. 
            Visually, We opted for a minimal, modern style which would be easily brandable by our clients.
            Our visual style was summarized by a styleguide to aid designers and developers working on the project.
          </p>
        </section>

        <section>
          <h2 class="typography--heading">The Styleguide</h2>
          <img src="static/img/consumerloans/constyle_full.png" >
        </section>

        <section>
          <h2 class="typography--heading">Outcomes</h2>
          <p class="typography--text">
            We saw that "early-adopter" clients beta-testing our new product experienced 
            <strong>a 10% reduction in support calls regarding the online application process</strong>
            as well as 
            <strong>a 20% increase in applications submitted through online channels</strong>.
          </p>
        </section>

        <section>
          <h2 class="typography--heading">Thanks for reading!</h2>
        </section>

        <section>
          <strong>Next:</strong> 
          <router-link to="/site-cms">Site CMS: A tool to configure the application</router-link>
          <strong>&rarr;</strong>
          <a href="https://invis.io/62DELZ37A" target="_"></a> 
        </section>

        <!-- <div class="align-center">
          <a class="btn">Read the full case study</a>
        </div> -->
      
      </div>

    </div>

    <div class="work" v-else>
      <div class="container">
        <h1>Enter the password to see hidden content</h1>
        <input class='form-input' type='password' @keyup.enter="checkPassword" v-model="password" v-focus autofocus></input>
      </div>
    </div>
  </main>
</template>

<script>
import jnQuote from './Quote.vue'

export default {
  name: 'jn-consumer-loans',
  data () {
    return {
      auth: true,
      password: ''
    }
  },
  methods: {
    checkPassword: function () { this.password === 'roshua' ? this.auth = true : this.password = '' }
  },
  components: {
    jnQuote
  }
}
</script>

<style>

</style>
