<template>
  <footer class="footer">
    <div class='container'>
      &copy; 2017 &mdash; Made with &hearts; by Josuha Navi
    </div>
  </footer>
</template>

<script>
export default {
  name: 'jn-footer',
  data () {
    return {
      msg: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
// theme 3
$theme-black: #242c3f;
$theme-accent: #ff8f07;
$theme-primary: #475978;
$theme-grey: #c2c4b6;
$theme-white: #f7faff;

.footer {
  width: 100%;
  background-color: $theme-white;
  padding-top: .75em;
  padding-bottom: .75em;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-top: 3em;
}
</style>
