<template>
  <main>
    <div class="container">
      <h1>GO!outside</h1>
      <p></p>

      <section>
        <h2 class="typography--heading">Project Abstract</h2>
        <p class="typography--text">
          Today’s designers need to be speculative and able to do more than solve known problems; 
          they must be comfortable working with uncertain opportunities and capable of inventing the unexpected by giving form to the ingenious. 
          <!-- A long-term perspective on contemporary problems and opportunities, drawing on history and looking to the future, 
          and learn how to ideate, organize, intercede, and build what comes next. -->
        </p>
        <img src="/static/img/gooutside.png" alt="Project summary image">
      </section>
    </div>

  </main>
</template>

<script>
export default {
  name: 'jn-gooutisde',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
</style>
