<template>
  <header class='header'>
    <div class='container'>
      <router-link to="/">
        <jn-logo />
      </router-link>
    </div>
  </header>
</template>

<script>
import jnLogo from './Logo.vue'

export default {
  name: 'jn-header',
  components: {
    jnLogo
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
// theme 3
$theme-black: #222222;

.header {
  width: 100%;
  background-color: $theme-black;
  padding-top: 1em;
  padding-bottom: 1em;
}

</style>
