<template>
  <main>
    <div id="hero">
      <div class="container">
        <h1 id="title" class="typography--heading"> {{ title }} </h1>
        <h3 id="subtitle" class="text-white"> {{ subtitle }} </h3>
      </div>
    </div>
    
    <section class='container'>
      <h2 id='work'>Projects</h2>
      <jn-work-example v-for="(item, index) in workHistory" v-bind:key="index"
        :title='item.title'
        :subtitle="item.subtitle"
        :image="item.image"
        :link="item.link"
        :right="index % 2 === 1"
      />
    </section>

    <jn-about></jn-about>

  </main>
</template>

<script>
import jnHeader from './Header.vue'
import jnWorkExample from './WorkExample.vue'
import jnAbout from './About.vue'

export default {
  name: 'jn-hello',
  components: {
    jnHeader,
    jnWorkExample,
    jnAbout
  },
  data () {
    return {
      title: 'Hello! My name is Joshua Navi',
      subtitle: 'I am a User Experience Designer and Developer from Southern California, currently living in New York',
      workHistory: [
        {
          title: 'Consumer Loan Application',
          subtitle: 'A quick, compliant and accessaible loan application built for the modern credit union',
          image: 'static/img/consumerloans/constyle_preview.png',
          link: '/consumer-loan-app'
        },
        {
          title: 'Application Site CMS',
          subtitle: 'Prototyping & Validation',
          image: '/static/img/cms/cms_preview.png',
          link: '/site-cms'
        },
        {
          title: 'Support Analytics Dashboard',
          subtitle: 'Using Design Thinking to fix how our support team\'s KPIs were being measured and reported',
          image: '/static/img/supportdash/sup_dash_preview.png',
          link: '/support-dashboard'
        },
        {
          title: 'RaceMe',
          subtitle: 'Creating a tool for mental health researchers to explore San Diego County public health data',
          image: '/static/img/raceme_preview.png',
          link: '/race-me'
        }
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
// theme 3
$theme-black: #222222;
$theme-white: #f7faff;

#hero {
  background-color: $theme-black;
  color: $theme-white;
  min-height: 40vh;
}

#title {
  color: $theme-white;
  margin-top: 0;
  padding-top: 7vh;
}

#subtitle {
  color: $theme-white;
  padding-bottom: 10vh;
}

#work {
  margin-top: 10vh;
}
</style>
