<template>
  <div class="about">
    <h1 id='headline'>{{ msg }}</h1>
    <p>{{about}}</p>
  </div>
</template>

<script>
export default {
  name: 'jn-about',
  data () {
    return {
      msg: 'League of Legends: Road to Bronze V',
      about: 'Match history to come...'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
#headline {
  margin-top: 10vh;
}
</style>
