<template>
  <svg id='logo' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" stroke-linejoin="round" aria-labelledby="jnlogo-title jnlogo-desc" role="img">
    <title id="jnlogo-title">Site logo</title>
    <desc id="jnlogo-desc">The letters J and N stylized</desc>
    <rect width="64" height="64" fill="none"/>
    <clipPath>
      <rect width="64" height="64"/>
    </clipPath>
    <g>
      <g transform="matrix(1 0 0 1 1.0561 12.9472)">
        <path d="M5.186-4.926C7.538-4.853 9.803-4.816 11.981-4.816 14.159-4.816 16.415-4.853 18.749-4.926L18.885-3.75 15.495-2.738C15.039-2.629 14.793-2.346 14.756-1.891 14.738-1.252 14.725-0.555 14.715 0.201 14.706 0.958 14.702 1.783 14.702 2.676L14.702 27.449C14.702 29.236 14.633 30.863 14.496 32.33 14.358 33.798 14.115 35.106 13.767 36.254 13.419 37.402 12.929 38.428 12.297 39.33 11.665 40.233 10.864 41.035 9.894 41.736 8.925 42.438 7.756 43.054 6.389 43.582 5.022 44.111 3.4 44.594 1.522 45.031L1.112 43.664C3.008 42.862 4.498 41.978 5.583 41.012 6.667 40.046 7.488 38.943 8.044 37.703 8.6 36.464 8.955 35.069 9.11 33.52 9.265 31.97 9.342 30.22 9.342 28.27L9.342 2.785C9.342 1.856 9.338 1.017 9.329 0.27 9.32-0.478 9.306-1.152 9.288-1.754 9.269-2.228 9.051-2.538 8.631-2.683L5.241-3.75 5.186-4.926Z" class="a"/>
        <path d="M29.741 2.867L29.741 24.961C29.741 27.112 29.759 28.899 29.795 30.32 29.814 30.831 30.042 31.141 30.479 31.25L33.733 32.207 33.788 33.438C31.509 33.383 29.641 33.356 28.182 33.356 26.76 33.356 24.874 33.383 22.522 33.438L22.413 32.262 25.776 31.25C26.25 31.104 26.496 30.822 26.514 30.402 26.551 28.926 26.569 27.112 26.569 24.961L26.569 2.785C26.569 0.962 26.551-0.551 26.514-1.754 26.496-2.228 26.277-2.538 25.858-2.683L22.467-3.75 22.413-4.926C24.764-4.853 26.624-4.816 27.991-4.816 28.811-4.816 29.641-4.853 30.479-4.926L53.448 23.758 53.448 2.676C53.448 0.908 53.43-0.614 53.393-1.891 53.375-2.31 53.138-2.592 52.682-2.738L49.456-3.668 49.401-4.926C51.734-4.853 53.621-4.816 55.061-4.816 56.519-4.816 58.388-4.853 60.667-4.926L60.776-3.75 57.331-2.683C56.911-2.538 56.693-2.228 56.674-1.754 56.638-0.551 56.62 0.962 56.62 2.785L56.62 33.356 54.323 33.574 29.741 2.867Z"/>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'jn-logo',
  data () {
    return {
      text: ''
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
// theme 3
$theme-black: #222222;
$theme-white: #f7faff;

svg#logo {
  height: 2em;
  fill: $theme-white;
}
</style>
