<template>
  <main class="main">
    <div class='container'>
      <slot>
      </slot>
    </div>
  </main>
</template>

<script>
export default {
  name: 'jn-main',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
main {
  padding-bottom: 6em;
}
</style>
