<template>
  <nav class='nav'>
    <div class='container'>
      <ul class='nav-items'>
        <li class='nav-item'>
          <router-link to='/'>Home</router-link>
        </li>
        <li class='nav-item'>
          <router-link to='/work'>Work</router-link>
        </li>
        <li class='nav-item'>
          <router-link to='/about'>About</router-link>
        </li>        
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'jn-nav',
  data () {
    return {
      url: ''
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
// theme 3
$theme-black: #242c3f;
$theme-accent: #ff8f07;
$theme-primary: #475978;
$theme-grey: #c2c4b6;
$theme-white: #f7faff;

.nav {
  width: 100%;
  background-color: $theme-white;
  padding-top: .75em;
  padding-bottom: .75em;
}

.nav-items {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}
</style>
