<template>
    <blockquote>
      <p>“{{text}}”</p>
      <footer>
        <cite v-if="citation">- {{citation}}</cite>
      </footer>
    </blockquote>
</template>

<script>
export default {
  name: 'jn-quote',
  props: {
    text: {
      type: String,
      required: true
    },
    citation: {
      type: String,
      default: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
blockquote p{
  font-family: 'Ovo', Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 1.2em;
  line-height: 1.8;
  margin-bottom: 1em;
  margin-right: 1em;
  text-indent: -0.4em;
}

blockquote {
  margin-left: 1em;
  margin-right: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
</style>
