<template>
  <main>
    <div class="container">
      <h1>RaceMe</h1>
      <p>Creating a tool for mental health researchers to explore San Diego County public health data</p>

      <section>
        <h2 class="typography--heading">Background</h2>
        <p class="typography--text">
          During the last semester of my undergrad, I worked in a team with three others 
          to gather data from a database called DELPHI to create unique data visualizations.
          We decided to address the problem of mental health in San Diego 
          with a focus on racial and socioeconomic disparities.
          Our main goal was to provide public health professionals with a tool to explore 
          the vast amount of San Diego County public health data while destigmatizing the topic of mental health.
        </p>

        <p> Tools used: <strong> Pen &amp; Paper, Balsamiq, Axure, HTML, CSS &amp; JS (Node, D3) </strong></p>
      </section>
      
      <section>
        <h2 class="typography--heading">Inspiration &amp; Research</h2>
        <p class="typography--text">
          The motivations for our work stemmed from our observations of the DELPHI dataset 
          that contained health statistics of different mentsl health disorders.
          We wanted to present the data in a more digestable way so that our users could gain insights from it.
        </p>

        <p class="typography--text">
          Our vision was heavily influenced by 'infographics' which aim to tell a story through a combination of
          data visualizations, images and textual information. Additionally, we wanted to make it interactive in order to allow
          users to explore the data, progressivley exposing them to more specific/detailed information.
        </p>

        <p class="typography--text">
          We experimented with different vizualizations, recieving feedback from sociologists as well as students studying public health.
        </p>
      </section>

      <section>
        <p class="typography--text img-half inline-block vert-mid">
          One visualization that proved to be ineffective was a heatmap.
          It was visually appealing but the user's that we tested with had a harder time understanding the information that was displayed.
        </p>
        <img class="img-half vert-mid" src="/static/img/raceme_heatmap.png" alt="Screenshot of heatmap">
      </section>

      <section>
        <img class="img-half vert-mid" src="/static/img/raceme_donuts.png" alt="Screenshot of heatmap">
        <p class="typography--text img-half inline-block vert-mid">
          In contrast, many users noted that they liked having the "Approximate Percentages of Mental Disorders in the U.S." section 
          because it provided context for the information about san diego. 
          Moreover, this section aids in destigmatizing mental disorders by illustrating their prevelance. 
        </p>
      </section>

      <section>
        <h2 class="typography--heading">Final Result</h2>
        <p class="typography--text">
          We implemented the prototyped 'interactive infographic' allowing users to view racial disparities 
          in Schizophrenia, Anxiety and Mood disorders in the Greater San Diego area.
          One of the ideas that we were not able to implement was connecting our data with county-specific economic data
          so that public health professionals would be able to view socioeconomic disparities more easily.
        </p>
        
        <p>See a screenshot below or <a href="http://teamhproject.herokuapp.com" target="_">check out the live site</a> <strong>&rarr;</strong></p>
      </section>

      <section>
        <img class="block" src="/static/img/raceme.png" alt="Screenshot of website">
      </section>

      <section>
        <h2 class="typography--heading">Thanks for reading!</h2>
      </section>

    </div>
  </main>
</template>

<script>
export default {
  name: 'jn-raceme',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
.inline-block {
  display: inline-block;
}

.vert-mid {
  vertical-align: middle;
}
</style>
