<template>
  <main>
    <div class="work" v-if="auth">
      <div class="container">
        <h1>Consumer Loan CMS</h1>

        <section>
          <h2 class="typography--heading">The Problem</h2>
          <p class="typography--text">
            Our clients had no unified place to configure their consumer loan application settings.
            There was one place to edit disclosures, copywrite and branding (colors and logos).
            There was another place to determine what information was collected.
            And yet another place to determine what the consumers would be able to apply for (auto loans, refinances, etc.)
            We wanted to strealine this process in order to reduce the friction of setting up and maintaining the application site.
          </p>

          <p> Tools used: <strong> Sketch &amp; InVision</strong></p>
        </section>

        <section>
          <h2 class="typography--heading">Research</h2>
          <p class="typography--text">
            Before exhausting resources into building and marketing the CMS, we built a prototype to test. 
            The result was a clickable prototype that simulates what the finished application would have done. 
            With this, we were able to gather a consensus on which features would be included in an MVP and how to prioritize those features.
          </p>
          <img class="block" src="/static/img/cms/cms_research.png" alt="Picture of research - afiinity diagram">
        </section>

        <section>
          <h2 class="typography--heading">The Solution</h2>
          <div class="flex-container">
            <img class="img-half flex-img" src="/static/img/cms/home.png" alt="Screenshot of website">
            <img class="img-half flex-img" src="/static/img/cms/manage_he.png" alt="Screenshot of website">
            <img class="img-half flex-img" src="/static/img/cms/configure.png" alt="Screenshot of website">
            <img class="img-half flex-img" src="/static/img/cms/design.png" alt="Screenshot of website">
            <img class="img-half flex-img" src="/static/img/cms/configure_general.png" alt="Screenshot of website">
            <img class="img-half flex-img" src="/static/img/cms/manage.png" alt="Screenshot of website">
            <img class="img-half flex-img" src="/static/img/cms/manage_pl.png" alt="Screenshot of website">
            <img class="img-half flex-img" src="/static/img/cms/manage_cc.png" alt="Screenshot of website">
          </div>
          <p class="typography--text">
            
          </p>
        </section>

        <section>
          <a href="https://invis.io/62DELZ37A" target="_">Check out the full InVision prototype</a> 
          <strong>&rarr;</strong>
        </section>

        <section>
          <h2 class="typography--heading">Thanks for reading!</h2>
        </section>

      </div>
    </div>

    <div class="work" v-else>
      <div class="container">
        <h1>Enter the password to see hidden content</h1>
        <input class='form-input' type='password' @keyup.enter="checkPassword" v-model="password" v-focus autofocus></input>
      </div>
    </div>
  </main>
</template>

<script>
import jnQuote from './Quote.vue'

export default {
  name: 'jn-site-cms',
  data () {
    return {
      auth: true,
      password: ''
    }
  },
  methods: {
    checkPassword: function () { this.password === 'roshua' ? this.auth = true : this.password = '' }
  },
  components: {
    jnQuote
  }
}
</script>

<style scoped>
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.flex-img {
  flex-grow: 1;
  flex-basis: 50%;
  flex-shrink: 1;
  margin-top: 1em;
}
</style>
