<template>
  <main>
    <div class="work" v-if="auth">
      <div class="container">
    
        <h1>Support Analytics Dashboard</h1>
        <p>Using Design Thinking and user-centered design to fix how our support team's KPIs were being measured and reported</p>

        <section>
          <h2 class="typography--heading">Summary</h2>
          <p class="typography--text">
            Out business intelligence team, support manager and I collaborated to design and build a dashboard that delivered
            insight into our support team's performance by finding a task-oriented and actionable visual representation of our support teams goals.
          </p>

          <p> Tools used: <strong>Pen &amp; Paper, Sketch, Axure, HTML &amp; CSS</strong></p>
        </section>

        <section>
          <h2 class="typography--heading">The Process</h2>
          
          <section>
            <h3 class="typography--heading">1. Discover</h3>
            <p class="typography--text">
              We held interviews with support team members and managers in order to better understand our users.
              We centered around the goal of delivering actionable insights,
              answers to questions that the support manager would ask regarding the team's performance.
            </p>
          </section>

          <section>
            <h3 class="typography--heading">2. Experiment</h3>
            <p class="typography--text">
              The analytics team and I collaborated on possible solutions for the dashboard's layout. 
              These sessions are helpful to kickstart a vision towards the final product. 
              A diverse team can bring different ideas and viewpoints to the discussion. 
              These sessions also allow individuals to work off eachothers' strengths resulting in much stronger ideas.
            </p>
            <img class="block" src="static/img/supportdash/sup_dash_paper.png" >
          </section>

          <section>
            <h3 class="typography--heading">3. Validate</h3>
            <p class="typography--text">
              It is important to get user feedback throughout the process in order to validate assumptions.
              We tested the design was by having the support manager use the prototype to determine whether or not her team was meeting its KPI's
            </p>
            <img class="block" src="static/img/supportdash/proto1.png" >
          </section>

          <section>
            <h3 class="typography--heading">4. Refine</h3>
            <p class="typography--text">
              We continually iterated on the design, reaching a high quality solution that provided axtionable insights to our support team.
            </p>
            <img class="block" src="static/img/supportdash/sup_dash_full.png" >
            <jn-quote 
              text="Analytics should not be about tracking a bunch of metrics; rather, it should be about getting insights about your data.">
            </jn-quote>
          </section>

        </section>

        <section>
          <h2 class="typography--heading">Thanks for reading!</h2>
        </section>

      </div>
    </div>
    
    <div class="work" v-else>
      <div class="container">
        <h1>Enter the password to see hidden content</h1>
        <input class="form-input" type='password' @keyup.enter="checkPassword" v-model="password" v-focus autofocus></input>
      </div>
    </div>
  </main>  
</template>

<script>
import jnQuote from './Quote.vue'

export default {
  name: 'jn-supdash',
  data () {
    return {
      auth: true,
      password: ''
    }
  },
  methods: {
    checkPassword: function () { this.password === 'roshua' ? this.auth = true : this.password = '' }
  },
  components: {
    jnQuote
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>

</style>
