<template>
  <main>
    <div v-if="auth">
      <div class="container">
        <h1>Waitz</h1>
        <div class="subtitle">Human Congestion & Footfall Analytics</div>
        <h4 class="typography--text">
          Waitz is a startup leveraging emerging technologies to provide consumers with accurate wait times and and deliver insight to businesses. 
          I am working closely with the founders to inform product strategy and design an MVP.
        </h4>

        <section>
          <h4 class="typography--heading">My role</h4>
          <p class="typography--text">
            Currently, I am the only designer and I am working with the COO to develop a plan for user research and advocating design thinking within the team.
          </p>
        </section>

        <section>
          <h4 class="typography--heading">How it started</h4>
          <p class="typography--text">
            One of the founders of Waitz approached me knowing that he wanted UX influence in the product. 
            Inititally, I was asked if I could design the first iteration of wireframes for the application's UI. 
            As I was being familiarized with the product (intended feature set, business plan, etc.), it was clear that this was a case of "We dont know what exactly UX is, but we know we want it."
            I asked the team what their time frame was and if they were comfortable with UX being a larger part of their product. Luckily, they were extremely receptive.
          </p>
        </section>

        <section>
          <h4 class="typography--heading">The progress so far</h4>
          <p>
            Disclaimer: Some details are vague in order to protect the company's intellectual property
          </p>

          <section>
            <h5 class="typography--heading">Taking a step back</h5>
            <p class="typography--text">
              I started by doing a <a href="https://medium.muz.li/the-kano-analysis-c16e7d681158" target="_">Kano Analysis</a> with the team 
              in order to ensure that the intended initial feature set would attract and satisfy users.
              Waitz has both a consumer product and a product for businesses so we did the analysis on each subset of features independently.
              We found that, for the consumer facing product, there were one or two features in particular that stood out as absolutely necessary, and the rest fell into the "indifferent" category. 
            </p>
          </section>

          <section>
            <h5 class="typography--heading">The plan</h5>
            <p class="typography--text">
              Using the results of the Kano Analysis, we determined that for the MVP, our primary focus would be the accuracy of the wait-time estimation technology.
              The second "required" feature was being able to predict a lull in wait times (e.g., do not visit the store until after 6:00pm). 
              While the developemnt team continued to work on refining the wait-time-estimation engine, I began exploring possible ways to present the information. 
            </p>
          </section>

          <section>
            <h5 class="typography--heading">Market forces</h5>
            <p class="typography--text">
              Right now, due to market forces, the team is focusing on the products B2B experience. 
              I'll make sure to update this page with any new developments as they happen.
              For now, a quote that is serving as this products guiding light:
            </p>
          </section>
        </section>
        
        <jn-quote text="I hate waiting" citation="Inigo Montoya"></jn-quote>
      </div>
  </div>
  
    <div v-else>
      <div class="container">
        <h1>Enter the password to see hidden content</h1>
        <input class="form-input" type='password' @keyup.enter="checkPassword" v-model="password" v-focus autofocus></input>
      </div>
    </div>
  </main>
</template>

<script>
import jnQuote from './Quote.vue'

export default {
  name: 'jn-waitz',
  data () {
    return {
      auth: false,
      password: ''
    }
  },
  methods: {
    checkPassword: function () { this.password === 'roshua' ? this.auth = true : this.password = '' }
  },
  components: {
    jnQuote
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
</style>
