<template>
  <div class="work-example">
    <div class="gradient-overlay"></div>
    <div class='work-example--img' :style="{ 'background-image': 'url(' + image + ')' }"></div>
    <div class='work-example--card' v-bind:class="[ right ? 'work-example--right': 'work-example--left' ]" >
      <h4 class='typography--heading'>{{ title }}</h4>
      <p>{{ subtitle }}</p>
      <router-link :to='link' class='btn'>See More &rarr;</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'jn-work-example',
  props: {
    title: {
      type: String,
      required: true
    },
    subtitle: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    },
    right: {
      type: Boolean,
      default: false
    },
    link: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang='scss' scoped>
$theme-primary: #553A63;

img {
  width: 100%;
}

.work-example {
  position: relative;
  margin-top: 2em;
  margin-bottom: 4em;
}

.work-example--card {
  position: absolute;
  background-color: #ffffff;
  padding: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  max-width: 540px;
  width: 100%;
  bottom: 0;
  transition: .4s ease-in-out;
}

@media (min-width: 768px) {
  .work-example--card {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    min-width: 540px;
  }
}

.work-example--right {
  right: 0;
}

.work-example--left {
  left: 0;
}

.work-example--img {
  top: 0;
  left: 0;
  background-size: cover;
  min-height: 50vh;
}

// .work-example:hover > .gradient-overlay {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFFFFF 90%);
//   transition: .4s ease-in-out;
// }

.work-example:hover > .work-example--card {
  background-color: $theme-primary;
  color: #ffffff;
}

.work-example:hover .btn {
  background-color: #ffffff;
  color: $theme-primary;
}
</style>
