// theme 1
$theme-black: #2b2d42;
$theme-grey: #8d99ae;
$theme-white: #edf2f4;
$theme-primary: #ef233c;
$theme-accent: #d90429;

// theme 2
$theme-black: #011638;
$theme-primary: #364156;
$theme-grey: #cdcdcd;
$theme-white: #dff8eb;
$theme-accent: #214e34;

// theme 3
$theme-black: #242c3f;
$theme-accent: #ff8f07;
$theme-primary: #475978;
$theme-grey: #c2c4b6;
$theme-white: #f7faff;

// minimum width breakpoints #mobilefirst
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$containers: (
  sm: 1140px,
  md: 960px,
  lg: 720px,
  xl: 540px
);

// headings
@mixin headings($base, $ratio) {
  h1{ font-size: $base * $ratio * $ratio * $ratio * $ratio * $ratio * $ratio; font-weight: 300; }
  h2{ font-size: $base * $ratio * $ratio * $ratio * $ratio * $ratio; font-weight: 300; }
  h3{ font-size: $base * $ratio * $ratio * $ratio * $ratio; font-weight: 300; }
  h4{ font-size: $base * $ratio * $ratio * $ratio; font-weight: 400; }
  h5{ font-size: $base * $ratio * $ratio; font-weight: 400 }
  h6{ font-size: $base * $ratio; font-weight: 400}
}

.conatiner {
  width: 100%;
}

@each $key, $value in $breakpoints {
  @media (min-width: $value) {
    .conatiner {
      width: 100%;
      max-width: map-get($containers, $key);
      padding-left: 1em;
      padding-right: 1em;
      margin: auto;
    }
  }
}