/*! reset.css 
    author: Joshua Navi
 */

/* Document
   ========================================================================== */

/**
 * 1. Reset auto margin on all browsers.
 * 2. Set all box-sizing to border-box.
 */

body {
  margin: 0; /* 1 */
}

* {
  box-sizing: border-box; /* 2 */  
}

html { 
  height: 100%; 
}

body {
    min-height:100%; 
    position:relative; 
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}