<template>
  <div id="app">
    <jn-header></jn-header>
    <router-view></router-view>
    <jn-footer></jn-footer>
  </div>
</template>

<script>
import jnFooter from './components/Footer.vue'
import jnHeader from './components/Header.vue'

export default {
  name: 'app',
  components: {
    jnFooter,
    jnHeader
  }
}
</script>

<style lang='scss'>

// theme 3
$theme-black: #222222;
$theme-accent: #ff8f07;
$theme-primary: #553A63;
$theme-grey: #c2c4b6;
$theme-white: #f7faff;

// minimum width breakpoints #mobilefirst
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$containers: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px
);

// headings
@mixin headings($base, $ratio) {
  h1{ font-size: $base * $ratio * $ratio * $ratio * $ratio * $ratio * $ratio; font-weight: 300; margin-bottom: 0.5em; }
  h2{ font-size: $base * $ratio * $ratio * $ratio * $ratio * $ratio; font-weight: 300; margin-bottom: 0.5em;}
  h3{ font-size: $base * $ratio * $ratio * $ratio * $ratio; font-weight: 300; margin-bottom: 0;}
  h4{ font-size: $base * $ratio * $ratio * $ratio; font-weight: 400; margin-bottom: 0.5em;}
  h5{ font-size: $base * $ratio * $ratio; font-weight: 400; margin-bottom: 0;}
  h6{ font-size: $base * $ratio; font-weight: 400; margin-bottom: 0;}
}

.container-full {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
}

.container {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
}

@each $key, $value in $breakpoints {
  @media (min-width: $value) {
    .container {
      width: 100%;
      max-width: map-get($containers, $key);
    }
  }
}

#app {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Open Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  
  color: $theme-black;

  @include headings(1.8vh, 1.2)
}

a {
  text-decoration: underline;
  color: $theme-primary;
  cursor: pointer;
}

a:active {
  color: $theme-primary;
}

main {
  padding-bottom: 4em;
}

img {
  width: 100%;
}

section {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.typography--text {
  line-height: 2;
  margin-left: auto;
  margin-right: auto;
}

strong {
  color: $theme-primary;
}

.typography--heading {
    font-family: 'Ovo', Georgia,Cambria,"Times New Roman",Times,serif;
}

// Buttons
.btn {
  display: inline-block;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .75em;
  padding-bottom: .75em;

  min-width: 160px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 2px;

  background-color: $theme-primary;
  color: $theme-white;

  font-weight: 600;
  text-decoration: none;

  box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

//inputs
.form-input {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 8px;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: $theme-grey;
}

// .form-input:focus {
//   border-color: $theme-primary;
//   outline: none;
// }

// Helpers
.right {
  float: right;
}

@media (min-width: 768px) {
  .img-half {
    width: 49%;
    padding-left: 1em;
    padding-right:  1em;
  }

  .img-third {
    width: 33%;
    padding-left: 1em;
    padding-right:  1em;
  }
}

.block {
  display: block;
  margin: auto;
}

.align-center {
  text-align: center;
}

::selection {
  background-color: $theme-primary;
  color: #ffffff;
}
</style>
